In [4]:
#Q2.Control flow example
num = 7
if num % 2 == 0:  # 'if' checks if the number is divisible by 2
    print("The number is even.")
else:  # 'else' handles the case when the number is not even
    print("The number is odd.")

The number is odd.

In [7]:
# datatype examples

# Integer data type
age = 25
print(age)  
print(type(age))  

# Boolean data type
is_student = True
print(is_student)  
print(type(is_student)) 

# List data type
fruits = ["apple", "banana", "cherry"]
print(fruits)  
print(type(fruits))  

# Set data type
unique_numbers = {1, 2, 3, 3, 2, 1}
print(unique_numbers)  
print(type(unique_numbers))

25
<class 'int'>
True
<class 'bool'>
['apple', 'banana', 'cherry']
<class 'list'>
{1, 2, 3}
<class 'set'>

In [8]:
# Q3.Compare and contrast mutable and immutable objects in Python with examples ?
#Mutable Objects ex
# Creating a list
fruits = ["apple", "banana", "cherry"]

# Modifying an element in the list
fruits[1] = "blueberry"
print(fruits) 

# Adding a new element to the list
fruits.append("orange")
print(fruits)  

# Removing an element from the list
fruits.remove("apple")
print(fruits)

['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'orange']
['blueberry', 'cherry', 'orange']

In [9]:
#Immutable Objects EX
# Creating an integer
number = 10

# Attempting to modify the integer (this creates a new integer)
number += 5  
print(number)  

# The original integer object with value 10 is not modified; instead, a new object is created with value 15.

15

In [10]:
# Q4.Discuss the different types of operators in Python and provide examples of how they are used?
#Arithmetic
a = 10
b = 3

print(a + b)   
print(a - b)   
print(a * b)   
print(a / b)   
print(a % b)   
print(a ** b)  
print(a // b)

13
7
30
3.3333333333333335
1
1000
3

In [11]:
#Relational operator
a = 10
b = 20

print(a == b)   
print(a != b)   
print(a > b)    
print(a < b)    
print(a >= 10)  
print(b <= 20)

False
True
False
True
True
True

In [12]:
#Bitwise Operator
a = 10  
b = 4   

print(a & b)   
print(a | b)   
print(a ^ b)   
print(~a)      
print(a << 1)  
print(a >> 1)

0
14
14
-11
20
5

In [13]:
#Assign operator
a = 10

a += 5   
print(a) 

a *= 2   
print(a)  

a //= 3  
print(a)

15
30
10

In [14]:
#Q5 Explain the concept of type casting in Python with examples?

# Converting a float to an integer
x = 3.14
x_int = int(x)
print(x_int)  

# Converting a string to an integer
y = "42"
y_int = int(y)
print(y_int)

3
42

In [15]:
## Converting an integer to a float
x = 10
x_float = float(x)
print(x_float)  

# Converting a string to a float
y = "3.14"
y_float = float(y)
print(y_float)

10.0
3.14

In [16]:
#converting to string
# Converting an integer to a string
x = 100
x_str = str(x)
print(x_str)  

# Converting a float to a string
y = 3.14
y_str = str(y)
print(y_str)

100
3.14

In [18]:
#Q6 How do conditional statements work in Python? Illustrate with examples? 
#IF Example

age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

In [19]:
#Else example
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

In [20]:
#Elif
age = 20

if age < 13:
    print("You are a child.")
elif 13 <= age < 18:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are an adult.

In [21]:
#Q7 Describe the different types of loops in Python and their use cases with examples?
#for
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [22]:
## Basic while loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [23]:
# Using a break statement to exit the loop
count = 0
while True:  # Infinite loop
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4